DATABASE_URL=sas
DUDE_X_DUSKY_API_KEY='78hjHJ00fsdjhKHGV&5NiuKJLH67890'
OPENCLAW_BASE_URL=https://execution.cdopenclaw.com
OPENCLAW_API_KEY=auvdkajhvdkhaviuvJVV71723GH0qbwej1hq
INTEGRATION_API_KEY=replace_me
APP_ENV=development
LOG_LEVEL=info
CORS_ORIGINS=https://openclaw-mono.vercel.app
